%% -*- mode: erlang;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%%======================================================================
%%
%% Leo Backend DB
%%
%% Copyright (c) 2012-2014 Rakuten, Inc.
%%
%% This file is provided to you under the Apache License,
%% Version 2.0 (the "License"); you may not use this file
%% except in compliance with the License.  You may obtain
%% a copy of the License at
%%
%%   http://www.apache.org/licenses/LICENSE-2.0
%%
%% Unless required by applicable law or agreed to in writing,
%% software distributed under the License is distributed on an
%% "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
%% KIND, either express or implied.  See the License for the
%% specific language governing permissions and limitations
%% under the License.
%%
%%======================================================================
{mode, max}.
{duration, 5}.
{concurrent, 1}.

{driver, basho_bench_driver_leo_backend_db}.
{key_generator,   {int_to_bin,{uniform_int, 1000000}}}.
{value_generator, {fixed_bin, 512}}.

{num_of_procs, 8}.
{backend_db,   'bitcask'}.
{db_root_path, "/tmp/db/"}.

{code_paths, ["deps/leo_backend_db",
              "deps/leo_commons",
              "deps/bitcask",
              "deps/eleveldb"
             ]}.

{operations, [{put, 1},{get,9}]}.
